@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

body {
  background-color: #100115;
  font-family: "ADLaM Display", cursive !important;
  font-size: 40px;
}

@media only screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  .appbaritem {
    display: none;
  }
  .toolbar {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 750px) {
  .logo2 {
    display: none;
  }
  .menuicon {
    display: none;
  }
  .toolbar {
    justify-content: space-around;
  }
  .drawer {
    display: none;
  }
}

.order-div{
  width: 100%;
  position: relative;
    margin-top: 80px;
}
.twoburger-img-div{
  width: 75%;
  overflow: hidden;
}
.offer-img-div{
  width: 34%;
  position: absolute;
  right: 15%;
  top:5%
  
}

.offer-text{
  position: relative;
  text-align: center;
}
.offer-text-cont{
  position: absolute;
  align-items: center;
  width: 100%;
  text-align: center;
  color: aliceblue;
   top: 30%;
   padding-left: 26%;
   padding-right: 20%;
   line-height: 1;
  
}
.offer-title{
  color: #E9AF05;
  font-size: 2vw;
  text-transform: uppercase;
}
.dots{
  font-size: 1.8vw;
}
.under-dots{
  font-size: 1.1vw;
  line-height: 1;
  padding: 5px;
  padding-top: 10px;
}