@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

body {
  background-color: #100115;
  /* font-family: "ADLaM Display", cursive !important; */
}

@media only screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  .appbaritem {
    display: none;
  }
  .toolbar {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 750px) {
  .logo2 {
    display: none;
  }
  .menuicon {
    display: none;
  }
  .toolbar {
    justify-content: space-around;
  }
  .drawer {
    display: none;
  }
}

.order-div {
  width: 100%;
  position: relative;
  margin-top: 80px;
}
.twoburger-img-div {
  width: 75%;
  overflow: hidden;
}
.offer-img-div {
  width: 34%;
  position: absolute;
  right: 10%;
  top: 5%;
}

.offer-text {
  position: relative;
  text-align: center;
}
.offer-text-cont {
  position: absolute;
  align-items: center;
  width: 100%;
  text-align: center;
  color: aliceblue;
  top: 30%;
  padding-left: 26%;
  padding-right: 20%;
  line-height: 1;
}
.offer-title {
  color: #e9af05;
  font-size: 2vw;
  text-transform: uppercase;
}
.dots {
  font-size: 1.8vw;
}
.under-dots {
  font-size: 1.1vw;
  line-height: 1;
  padding: 5px;
  padding-top: 10px;
}

.order-btn-div {
  margin-top: 5vw;
}
.order-btn {
  background-color: #e9af05;
  font-weight: bold;
  border-radius: 25px;
  color: #000;
  font-size: 1.1vw;
  width: 10vw;
}
.order-btn:hover {
  background-color: #e9af05;
  color: #000;
}
.section-two-container {
  padding-top: 5vw;
  padding-bottom: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 500px; */
  background-color: #010311;
}
.firstdiv-section-two {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 50%;
}
.three-div-container {
  display: flex;
  flex-direction: column;
  width: 5vw;
}
.yellow {
  width: 5vw;
  height: 0.7vw;
  margin-bottom: 10px;
  background-color: #e9af05;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sectionTwo-text-div {
  color: white;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sectionTwo-textTitle {
  font-size: 2vw;
  line-height: 1;
  padding: 5px;
  padding-top: 10px;
  text-align: start;
}
.sectionTwo-ul {
  line-height: 3.5vw;
}
.yellow-div {
  background-color: #e9af05;
  padding: 5vw 0 5vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.yellow-element {
  width: 25%;
  padding: 2vw;
  text-align: center;
}
.yellow-element-title {
  font-size: 2vw;
}
.yellow-element p {
  font-size: 1vw;
}
.mobile-div {
  padding: 5vw 5vw 0 5vw;
  background-color: #100115;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mobile-textDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  padding: 7vw;
  text-align: center;
}
.mobile-title {
  font-size: 6vw;
  color: #ffba00;
  text-transform: uppercase;
  text-align: center;
  /* width: 5vw; */
}
.mobile-subtitle {
  font-size: 2vw;
  color: #ffba00;
  text-transform: uppercase;
  text-align: center;
}

.mobile-text {
  font-size: 1vw;
  color: #ffff;
}
/* justify-content: space-between; */
.red-div {
  background-color: #860010;
  padding: 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.red-title {
  font-size: 3.5vw;
  text-transform: uppercase;
  color: #e9af05;
}
.concept {
  font-weight: bolder !important;
}
.red-text {
  align-self: center;
  width: 50%;
  color: #ffff;
  font-size: 1vw;
}

.red-flex {
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  width: 50%;
  color: #ffff;
}
.knife-div {
  position: relative;
  height: 80vw;
}
.knife-img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.knife-text {
  color: #ffff;
  position: absolute;
  top: 10vw;
  right: 15vw;
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.masterclass {
  font-size: 4vw;
  text-transform: uppercase;
}
